<!-- (C) Franck Barbenoire <fbarbenoire@yahoo.fr>
License : GPL v3 -->
<?xml version="1.0" encoding="utf-8"?>
{% load l10n %}
<SaladoPlayer>
    <global debug="{% if saladoplayersettings.debug %}true{% else %}false{% endif %}">
        <control autorotation="enabled:{% if tour.auto_rotation %}true{% else %}false{% endif %},delay:10"/>
        <control mouseWheelTrap="true"/>
        {% if tour.first_panorama %}<panoramas firstPanorama="panorama_{{ tour.first_panorama.id }}"/>{% endif %}
        <trace open="{% if saladoplayersettings.debug %}true{% else %}false{% endif %}"/>
        <branding visible="{% if saladoplayersettings.branding %}true{% else %}false{% endif %}"/>
    </global>
    <panoramas>
        {% for p in panorama_list %}
        <panorama id="panorama_{{ p.panorama.id }}" path="{{ saladoplayersettings.url }}/{{ p.panorama.directory }}/face_f.xml" camera="{% if p.panorama.pan %}pan:{{ p.panorama.pan }},{% endif %}{% if p.panorama.tilt %}tilt:{{ p.panorama.tilt }},{% endif %}{% if p.panorama.min_tilt %}minVerticalFov:{{ p.panorama.min_tilt }},{% endif %}{% if p.panorama.max_tilt %}maxVerticalFov:{{ p.panorama.max_tilt }},{% endif %}maxPixelZoom:NaN,minFov:45,maxFov:90">
            {% if hotspot %}
            {% for t in p.target_list %}
            <image id="hotspot_panorama_{{ t.id }}" location="pan:{{ t.chaining.pan|unlocalize }},tilt:{{ t.chaining.tilt|unlocalize }}" transform="scaleX:0.4,scaleY:0.25" path="~hotspots/images/pas_orange_blanc_carre.png"
                   mouse="onClick:loadPano_{{ t.id }}{% if target.show_information %},onOver:showBubbleText_panorama_{{ t.id }},onOut:hideBubble{% endif %}"/>
            {% endfor %}
            {% for i in p.information_list %}
            <image id="hotspot_information_{{ i.information.id }}" location="pan:{{ i.information.pan|unlocalize }},tilt:{{ i.information.tilt|unlocalize }}" transform="scaleX:0.4,scaleY:0.4" path="~hotspots/images/info_bleu_blanc_triangle.png"
                   mouse="onOver:showBubbleText_information_{{ i.information.id }},onOut:hideBubble"/>
            {% endfor %}
            {% endif %}
        </panorama>
        {% endfor %}
    </panoramas>
    <modules>
        <ButtonBar path="~modules/buttonbar/ButtonBar-1.3.swf">
            <buttons path="~modules/buttonbar/images/buttons_dark_30x30.png">
               <button name="up"/>
               <button name="down"/>
               <button name="left"/>
               <button name="right"/>
               <button name="in"/>
               <button name="out"/>
               <button name="drag"/>
               <button name="fullscreen"/>
            </buttons>
        </ButtonBar>
        <MouseCursor path="~modules/mousecursor/MouseCursor-1.2.swf">
           <settings path="~modules/mousecursor/images/cursors_31x31.png"/>
        </MouseCursor>
        {% if saladoplayersettings.viewfinder %}
        <ViewFinder path="~modules/ViewFinder-1.3.swf"/>
        {% endif %}
        <InfoBubble path="~modules/InfoBubble-1.3.2.swf">
            <bubbles>
                {% for p in panorama_list %}
                <text id="bubbleText_panorama_{{ p.panorama.id }}" text="{{ p.panorama.information }}"/>
                {% for i in p.panorama.information_list %}
                <text id="bubbleText_information_{{ i.information.id }}" text="{{ i.information.information }}"/>
                {% endfor %}
                {% endfor %}
            </bubbles>
        </InfoBubble>
        {% if tour.display_dropmenu %}
        <DropDown path="~modules/DropDown-1.2.swf">
           <window align="horizontal:left,vertical:bottom" move="horizontal:100,vertical:-10"/>
           <box opensUp="true" style="fontSize:14"/>
           <elements>
              {% for p in panorama_list %}
              <element label="{{ p.panorama.information }}" target="panorama_{{ p.panorama.id }}"/>
              {% endfor %}
           </elements>
        </DropDown> 
        {% endif %}
    </modules>
    {% if hotspot %}
    <actions>
        {% for p in panorama_list %}
        <action id="loadPano_{{ p.panorama.id }}" content="SaladoPlayer.loadPano(panorama_{{ p.panorama.id }})"/>
        <action id="showBubbleText_panorama_{{ p.panorama.id }}" content="InfoBubble.show(bubbleText_panorama_{{ p.panorama.id }})"/>
        {% for i in p.information_list %}
        <action id="showBubbleText_information_{{ i.information.id }}" content="InfoBubble.show(bubbleText_information_{{ i.information.id }})"/>
        {% endfor %}
        {% endfor %}
        <action id="hideBubble" content="InfoBubble.hide()"/>
    </actions>
    {% endif%}
</SaladoPlayer>
