<!-- (C) Franck Barbenoire <fbarbenoire@yahoo.fr>
License : GPL v3 -->
<?xml version="1.0" encoding="utf-8"?>
{% load l10n %}
<SaladoPlayer>
    <global debug="{% if saladoplayersettings.debug %}true{% else %}false{% endif %}">
        <control autorotation="enabled:false"/>
        <control mouseWheelTrap="true"/>
        {% if first_panorama %}<panoramas firstPanorama="panorama_id_{{ first_panorama }}"/>{% endif %}
        <trace open="{% if saladoplayersettings.debug %}true{% else %}false{% endif %}"/>
        <branding visible="{% if saladoplayersettings.branding %}true{% else %}false{% endif %}"/>
    </global>
    <panoramas>
        {% for panorama in panorama_list %}
        <panorama id="panorama_id_{{ panorama.id }}" path="{{ saladoplayersettings.url }}/{{ panorama.directory }}/face_f.xml" camera="{% if panorama.pan %}pan:{{ panorama.pan }},{% endif %}{% if panorama.tilt %}tilt:{{ panorama.tilt }},{% endif %}{% if panorama.min_tilt %}minVerticalFov:{{ panorama.min_tilt }},{% endif %}{% if panorama.max_tilt %}maxVerticalFov:{{ panorama.max_tilt }},{% endif %}maxPixelZoom:NaN,minFov:45,maxFov:90">
            {% if hotspot %}
            {% for target in panorama.target_list %}
            <image id="hotspot_panorama_{{ target.id }}" location="pan:{{ target.pan|unlocalize }},tilt:{{ target.tilt|unlocalize }}" transform="scaleX:0.4,scaleY:0.25" path="~hotspots/images/pas_orange_blanc_carre.png"
                   mouse="onClick:loadPano_{{ target.id }}{% if target.show_information %},onOver:showBubbleText_panorama_{{ target.id }},onOut:hideBubble{% endif %}"/>
            {% endfor %}
            {% for information in panorama.information_list %}
            <image id="hotspot_information_{{ information.id }}" location="pan:{{ information.pan|unlocalize }},tilt:{{ information.tilt|unlocalize }}" transform="scaleX:0.4,scaleY:0.4" path="~hotspots/images/info_bleu_blanc_triangle.png"
                   mouse="onOver:showBubbleText_information_{{ information.id }},onOut:hideBubble"/>
            {% endfor %}
            {% endif %}
        </panorama>
        {% endfor %}
    </panoramas>
    <modules>
        <ButtonBar path="~modules/buttonbar/ButtonBar-1.3.swf">
            <buttons path="~modules/buttonbar/images/buttons_dark_30x30.png">
               <button name="up"/>
               <button name="down"/>
               <button name="left"/>
               <button name="right"/>
               <button name="in"/>
               <button name="out"/>
               <button name="drag"/>
               <button name="fullscreen"/>
            </buttons>
        </ButtonBar>
        <MouseCursor path="~modules/mousecursor/MouseCursor-1.2.swf">
           <settings path="~modules/mousecursor/images/cursors_31x31.png"/>
        </MouseCursor>
        {% if saladoplayersettings.viewfinder %}
        <ViewFinder path="~modules/ViewFinder-1.3.swf"/>
        {% endif %}
        <InfoBubble path="~modules/InfoBubble-1.3.2.swf">
            <bubbles>
                {% for panorama in panorama_list %}
                <text id="bubbleText_panorama_{{ panorama.id }}" text="{{ panorama.information }}"/>
                {% for information in panorama.information_list %}
                <text id="bubbleText_information_{{ information.id }}" text="{{ information.information }}"/>
                {% endfor %}
                {% endfor %}
            </bubbles>
        </InfoBubble>
        {% if tour.display_dropmenu %}
        <DropDown path="~modules/DropDown-1.2.swf">
           <window align="horizontal:left,vertical:bottom" move="horizontal:100,vertical:-10"/>
           <box opensUp="true" style="fontSize:14"/>
           <elements>
              {% for panorama in panorama_list %}
              <element label="{{ panorama.information }}" target="panorama_id_{{ panorama.id }}"/>
              {% endfor %}
           </elements>
        </DropDown> 
        {% endif %}
    </modules>
    {% if hotspot %}
    <actions>
        {% for panorama in panorama_list %}
        <action id="loadPano_{{ panorama.id }}" content="SaladoPlayer.loadPano(panorama_id_{{ panorama.id }})"/>
        <action id="showBubbleText_panorama_{{ panorama.id }}" content="InfoBubble.show(bubbleText_panorama_{{ panorama.id }})"/>
        {% for information in panorama.information_list %}
        <action id="showBubbleText_information_{{ information.id }}" content="InfoBubble.show(bubbleText_information_{{ information.id }})"/>
        {% endfor %}
        {% endfor %}
        <action id="hideBubble" content="InfoBubble.hide()"/>
    </actions>
    {% endif%}
</SaladoPlayer>
