<!-- (C) Franck Barbenoire <fbarbenoire@yahoo.fr>
License : GPL v3 -->
{% load static %}
<script type="text/javascript" src="{% get_static_prefix %}embed/swfobject.js"></script>
<script type="text/javascript">
<!--
  var flashvars = {};
  flashvars.xml = "/saladoplayer/xml/{{ tour_id }}/{{ hotspot }}/"
  flashvars.tilde = "{% get_static_prefix %}";
  var params = {};
  params.play = "true";
  params.loop = "false";
  params.menu = "false";
  params.quality = "high";
  params.scale = "showall";
  params.wmode = "window";
  params.bgcolor = "#FFFFFF";
  params.devicefont = "false";
  params.allowfullscreen = "true";
  params.allowscriptaccess = "{% if saladoplayersettings.secure %}"sameDomain"{% else %}always{% endif %}";
  var attributes = {};
  swfobject.embedSWF("{% get_static_prefix %}SaladoPlayer-1.3.3.swf", "SaladoPlayer", "{{ width }}", "{{ height }}", "10.0.0", "{% get_static_prefix %}embed/expressInstall.swf", flashvars, params, attributes);
-->
</script>
